.container {
    background: var(--yellow);
    color: var(--black);
    display: flex;
    justify-content: center;
    padding: 10px;
    text-align: center;
}

.container em {
    font-weight: bold;
}
