@use "/styles/design_tokens.scss" as t;

.container {
    background: #{t.$yellow};
    color: #{t.$black};
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
}

.container em {
    font-weight: bold;
}

.constructionIcon {
    font-size: 1.2rem;
}
