@use "/styles/design_tokens" as t;

.mainNav {
  font-size: 1.5rem;
  font-family: var(--f-header);
  font-weight: bold;
  max-width: var(--main-content-width);
  padding: 1rem 0;
  z-index: 30;
  padding-right: 2rem;

  @include t.screen_size_upto(t.$breakpoint-laptop-min) {
    padding-right: 0;
  }
}

.navList {
  display: flex;
  list-style: none;
  justify-content: space-between;

  // NOTE: underline selector requirements are very specific
  // due to issues with Safari rendering.
  & li[data-active="true"] {
    color: var(--c-accent3);

    @include t.nice_underline();
  }

  & li:hover:not([data-active="true"]) {
    color: var(--c-highlight);

    @include t.nice_underline();
  }
}

