/* Breakpoints */
$breakpoint-phones-only: 480px;
$breakpoint-tablet-up: 481px;
$breakpoint-laptop-up: 769px;
$breakpoint-desktop-up: 1025px;

/* Size tokens */
$main-content-width: 50rem;

/* Color tokens */
$yellow: rgb(255, 213, 0);
$black: rgb(0, 0, 0);
$offblack: rgb(40, 28, 47);
$white: rgb(255, 255, 255);
$offwhite: rgb(250, 250, 250);
$blue: rgb(0, 112, 243);
$purple: rgb(61, 31, 83);

$durple: #240d27;
$magenta: #db2955;
$blurple: #6e44ff;
$greyn: #90cfd6;
$grhite: #f4fff8;

@mixin screen_size_max($breakpoint) {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}

@mixin nice_underline {
  text-decoration: underline;
  text-decoration-thickness: 0.2rem;
  text-underline-offset: 0.37rem;
}
