/* Breakpoints */
$breakpoint-phone-max: 480px;
$breakpoint-tablet-min: 481px;
$breakpoint-laptop-min: 769px;
$breakpoint-desktop-min: 1025px;

/* Size tokens */
$main-content-width: 50rem;

/* Color tokens */
$yellow: rgb(255, 213, 0);
$black: rgb(0, 0, 0);
$offblack: rgb(40, 28, 47);
$white: rgb(255, 255, 255);
$offwhite: rgb(250, 250, 250);
$blue: rgb(0, 112, 243);
$purple: rgb(61, 31, 83);

$durple: #240d27;
$magenta: #db2955;
$blurple: #6e44ff;
$greyn: #90cfd6;
$grhite: #f4fff8;

@mixin screen_size_upto($breakpoint) {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}

// TODO: For some reason, this doesn't render correctly in Safari?
// When there are multiple valid underline states, it does a weird split-color underline...
@mixin nice_underline($col:"") {
  text-decoration: underline;
  @if $col != "" {
    text-decoration-color: #{$col};
  }

  text-decoration-thickness: 4px;
  text-underline-offset: 0.37rem;

  text-decoration: underline 4px solid #{$col} !important; 
  // color: white !important;
  -webkit-text-decoration-line:  underline !important;
  -webkit-text-decoration-color: #{$col} !important;
  -webkit-text-decoration-style: solid !important;
  -webkit-text-decoration-thickness: 4px !important;
}
