:root {
    /** SHOULD NOT BE REASSIGNED EVER */
    /* Size tokens */
    --main-content-width: 50rem;
    /* Color tokens */
    --yellow: rgb(255, 213, 0);
    --black: rgb(0, 0, 0);
    --offblack: rgb(40, 28, 47);
    --white: rgb(255, 255, 255);
    --offwhite: rgb(250, 250, 250);
    --blue: rgb(0, 112, 243);
    --purple: rgb(61, 31, 83);

    /* Design tokens */
    /* (Also represents "default" theme) */
    /** MAY be reassigned by THEME */
    --c-body-text: var(--black);
    --c-bg-main: var(--white);
    --c-bg-code: var(--offwhite);
    --c-link: var(--blue);
}

[data-theme="dark"] {
    --c-body-text: var(--white);
    --c-bg-main: var(--black);
    --c-bg-code: var(--purple);
}
