@use "./design_tokens.scss" as t;

.heroTextGroup {
  line-height: 1.5;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.header {
  font-family: var(--f-header);
  font-size: 4rem;
  line-height: 1.15;
}

.firstName {
  font-weight: 500;
}

/* Spacing handled in css b/c it differs b/t Desktop and Mobile */
.firstName::after {
  content: " ";
}

.lastName {
  font-weight: normal;
  color: var(--c-accent1);

  @include t.screen_size_upto(t.$breakpoint-laptop-min) {
    padding-left: 4rem;
  }
}
